@font-face {
    font-family: 'MyFont';
    src: url('./Roboto.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: blue;
    font-family: 'MyFont';
    background: url('./icon.svg');
}